---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Angle from "@components/Angle.astro";
import GuessBlock from "@components/GuessBlock.astro";
---

<DefaultLayout pageTitle="Angle Clone">
    <div>
        <h1>Angle Clone</h1>
        <Angle />
        <GuessBlock />
    </div>
</DefaultLayout>

<style>
    div {
        text-align: center;
        vertical-align: middle;
    }
</style>
