---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Angle from "@components/Angle.astro";
---

<DefaultLayout pageTitle="Angle Clone">
    <div>
        <h1>Angle Clone</h1>
        <Angle />
    </div>
</DefaultLayout>
