---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Angle from "@components/Angle.svelte";
---

<DefaultLayout pageTitle="Angle Clone">
    <h1>Angle Clone</h1>
    <Angle />
</DefaultLayout>
