---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Angle from "@components/Angle.svelte";
import GuessBlock from "@components/GuessBlock.svelte";
---

<DefaultLayout pageTitle="Angle Clone">
    <h1>Angle Clone</h1>
    <Angle />
    <GuessBlock client:load />
</DefaultLayout>
